.data-table-container {
    width: 1440px;
    margin: 0 auto 20px auto;
    background: white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    overflow-x: auto;
    /* max-height: 100vh; */
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 700;
    border: solid 1px black;
    text-align: center;
    table-layout: fixed;
}

.data-table-head th {
    background-color: #f0f0f0;
    text-align: center;
    font-weight: bold;
    color: #333;
    /* position: sticky;
    top: 0; */
    border: solid 1px black;
    /* z-index: 10; */
}

.data-table td {
    border: solid 1px black;
    padding-block: 2px;
}

.corporate_person-row {
    background-color: #B47F93;
}

.total-volume-concrete,
.total-volume-mortar {
    background-color: #DAD6B0;
}

.sum-of-sums-value {
    background-color: #A0BBA8;
    overflow: hidden;
}

.detail-row:hover {
    background-color: #e6f7ff;
}

/* .group-title {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding-left: 4px;
} */

/* .total-volume {
    font-weight: 600;
} */

  /* Фиксированная ширина столбцов */
.data-table th:nth-child(1),
.data-table td:nth-child(1) {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.data-table th:nth-child(2),
.data-table td:nth-child(2),
.data-table th:nth-child(3),
.data-table td:nth-child(3) {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.data-table th:nth-child(4),
.data-table td:nth-child(4) {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.data-table th:nth-child(5),
.data-table td:nth-child(5) {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.data-table th:nth-child(6),
.data-table td:nth-child(6) {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.data-table th:nth-child(7),
.data-table td:nth-child(7),
.data-table th:nth-child(8),
.data-table td:nth-child(8) {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.data-table th:nth-child(9),
.data-table td:nth-child(9) {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.data-table th:nth-child(10),
.data-table td:nth-child(10) {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.data-table th:nth-child(11),
.data-table td:nth-child(11) {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.data-table th:nth-child(12),
.data-table td:nth-child(12) {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.data-table th:nth-child(13),
.data-table td:nth-child(13) {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.data-table th:nth-child(14),
.data-table td:nth-child(14) {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.data-table th:nth-child(15),
.data-table td:nth-child(15) {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}